
<html>
<head>
    <title>The Future Of Clipper</title>
</head>

<body>
<h1 align="center">Clipper Makes Travel Easy</h1>

<p> Ride Id is {{rideId}}</p>
<p> Customer Id is {{customerID}}</p>
<p> Start Time is {{startTime}}</p>
<p> Start Location is {{startLocation}}</p>
<p> Ride Type is {{rideType}}</p>


</body>
</html>
